<%- include("../partials/header") %>

<title>Members | <%= guild.name %> » <%= bot.user.username %> Dashboard</title>

<section class="hero is-medium is-black" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="container">
        <figure class="image is-128x128 has-image-centered">
            <img class="is-rounded" src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}?size=512` : 'https://i.imgur.com/RO3uUxX.png' %>">
        </figure>
        <br>
        <h1 class="is-size-1">
            <strong class="has-text-white"><%= guild.name %> Member List</strong>
            <hr style="background-color: dimgray">
            <div class="columns is-centered">
                <div class="field is-grouped has-image-centered">
                    <p class="control">
                        <a href="/dashboard/server/<%= guild.id %>" class="button is-sm is-rounded is-white">
                            <i class="fa-solid fa-angles-left" style="padding-right: 5px;"></i> Go back
                        </a>
                    </p>
            </div>
        </h1>
    </div>
</section>

<div class="container" style="padding-top: 50px; padding-bottom: 30px;">
    <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" id="searchInput" onkeyup="sortAndSearchMembers()" placeholder="Search for a user...">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
    </div>

    <div class="row">
        <div class="container">
          <table class="table text-light is-fullwidth" id="searchTable"> 
            <thead class="thead has-text-centered">
              <tr>
                <th style="font-size: 20px;" scope="col">Display Name</th>
                <th style="font-size: 20px;" scope="col">Username (or <span title="Legacy Username and Discriminator">Tag</span>)</th>
                <th style="font-size: 20px;" scope="col">Joined</th>
                <th style="font-size: 20px;" scope="col">Roles</th>
    
              </tr>
            </thead>
            <% for (let i = 0; i < members.length; i++) { %>
              <% 
                const roles = members[i].roles.cache.map(r => r);
                const index = roles.findIndex(r => r === "@everyone");

                roles.splice(index, 1);
              %>
              <tr>
                <td style="font-size: 20px;">
                    <article class="media">
                        <figure class="media-left">
                          <p class="image is-48x48">
                            <% if (members[i].user.avatar) { %>
                                <img class="is-rounded" src="https://cdn.discordapp.com/avatars/<%= members[i].user.id %>/<%= members[i].user.avatar %>" />
                            <% } else { %>
                                <img class="is-rounded" src="https://i.imgur.com/RO3uUxX.png" />
                            <% } %>
                          </p>
                        </figure>
                        <div class="media-content">
                          <div class="content">
                            <h6 style="padding-top: 13px;">
                              <strong><%= members[i].displayName %></strong>
                              <% if (members[i].user.bot) { %>
                                <img title="Discord Bot" width="28px" src="https://i.imgur.com/OKVwc6m.png">
                              <% } %>
                            </h6>
                          </div>
                        </div>
                    </article>
                </td>
                <td style="font-size: 20px;"><b><%= members[i].user.username %><%= members[i].user.discriminator && members[i].user.discriminator !== '0' ? `#${members[i].user.discriminator}` : '' %></b> (<code><%= members[i].id %></code>)</td>
                <td style="font-size: 20px;"><span title="<%= dayjs(members[i].joinedAt).format("dddd MMMM Do YYYY, h:mm a") %>"><%= dayjs(members[i].joinedAt).format("DD/MM/YYYY, HH:mm:ss") %></span></td>
                <td style="font-size: 20px;">

                <% if (roles.length === 0) { %>
                  <p>None</p>
                <% } else { %>
                    <% for (let j = 0; j < roles.length; j++) { %>
                        <span class="tag is-dark" style="color: <%= roles[j].hexColor === "#000000" ? "#ffffff" : roles[j].hexColor %>" title="<%= roles[j].id %>"><b><%= roles[j].name %></b></span>
                    <% } %>
                <% } %>
              </tr>                                          
            <% } %>
          </table>
        </div>
      </div>
</div>

<script>
    function sortAndSearchMembers() {
      let input, filter, table, tr, td, i, txtValue;

      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("searchTable");
      tr = table.getElementsByTagName("tr");
    
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>