<%- include("../partials/header") %>

<title>Your Profile » <%= bot.user.username %> Dashboard</title>

<style>
.statusColor {
    color: <%= status %>;
}
</style> <!-- Please ignore the Syntax Error here. If there is a fix for this, please send a PR. -->

<div class="text-center text-light" style="padding-top: 65px; padding-bottom: 20px;">
    <div class="p-5 text-center" style="padding-top: 110px; background-color: #3B465E;">
        <img class="img-fluid rounded-circle" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>" width="128px" height="auto">
        <br>
        <br>
        <h1 class="mb-3"><%= user.username %>#<%= user.discriminator %> <i class="fas fa-circle statusColor fa-xs"></i></h1>
    </div>
</div>

<div class="container">
    <table class="table text-light">
        <thead class="thead text-center text-light mdb-color lighten-1 lighten-1">
            <tr>
            <th style="font-size: 20px;" scope="col">Type</th>
            <th style="font-size: 20px;" scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td style="font-size: 20px;"><i class="fas fa-users"></i> ID</td>
                <td style="font-size: 20px;"><%= user.id %></td>
            </tr>
            <tr class="text-center">
                <td style="font-size: 20px;"><i class="fas fa-hashtag"></i> Discriminator</td>
                <td style="font-size: 20px;">#<%= user.discriminator %></td>
            </tr>
            <tr class="text-center">
                <td style="font-size: 20px;"><i class="fas fa-flag"></i> Flags</td>
                <td style="font-size: 20px;"><%= userFlags %></td>
            </tr>
            <tr class="text-center">
                <td style="font-size: 20px;"><i class="fas fa-calendar"></i> Created</td>
                <td style="font-size: 20px;"><%= moment(userObj.createdAt).format("LLLL") %></td>
            </tr>
            <tr class="text-center">
                <td style="font-size: 20px;"><i class="fab fa-discord"></i> Status</td>
                <td style="font-size: 20px;"><i class="fas fa-circle statusColor fa-xs"></i> <%= statusName %></td>
            </tr>
            <tr class="text-center">
                <td style="font-size: 20px;"><i class="fas fa-gamepad"></i> Game</td>
                <td style="font-size: 20px;"><%= userObj.presence.game ? userObj.presence.game.name : 'Not Playing/Streaming' %></td>
            </tr>
            <tr class="text-center">
                <td style="font-size: 20px;"><i class="fab fa-discord"></i> Subscription</td>
                <td style="font-size: 20px;"><%= userSubscription %></td>
            </tr>    
            <tr class="text-center">
                <td style="font-size: 20px;"><i class="fas fa-shield-alt"></i> MFA</td>
                <td style="font-size: 20px;"><%= user.mfa_enabled ? "Yes" : "No" %></td>
            </tr>                                 
        </tbody>
    </table>
</div>


<%- include("../partials/footer") %>