<%- include("partials/header") %>

<title>Home » <%= bot.user.username %> Dashboard</title>

<div class="container has-text-centered" style="padding-top: 80px;">
    <% if (user) { %>
        <figure class="image is-128x128 has-image-centered">
            <img class="is-rounded" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>">
        </figure>
        <br>
        <h1 class="is-size-2 has-text-white">Logged in as <strong class="has-text-white"><%= user.username %>#<%= user.discriminator %></strong></h1>
        <p class="has-text-white">Welcome to the <b><%= bot.user.username %></b> dashboard! Where would you like to go?</p>
        <br>

        <hr style="background-color: dimgray">

        <br>
        <div class="columns is-centered">
            <div class="field is-grouped has-image-centered">
                <p class="control">
                    <a href="/dashboard/servers" class="button is-success is-rounded is-medium">
                        <i class="fas fa-server" style="padding-right: 5px;"></i> Servers
                    </a>
                </p>
                <p class="control">
                    <a href="<%= process.env.SUPPORT_SERVER %>" class="button is-link is-rounded is-medium">
                        <i class="fab fa-discord" style="padding-right: 5px;"></i> Support
                    </a>
                </p>
                <p class="control">
                    <a href="/logout" class="button is-danger  is-rounded is-medium">
                        <i class="fas fa-sign-out-alt" style="padding-right: 5px;"></i> Log Out
                    </a>
                </p>
            </div>
        </div>
    <% } else { %>
        <figure class="image is-128x128 has-image-centered">
            <img class="is-rounded" src="<%= bot.user.displayAvatarURL({ dynamic: true, size: 128, format: 'png' }) %>">
        </figure>
        <br>
        <h1 class="is-size-2 has-text-white"><%= bot.user.username %> Dashboard</h1>
        <br>
        <a href="/login" class="button is-medium is-rounded"><i class="fab fa-discord" style="padding-right: 5px;"></i> Login with Discord</a>

        <hr style="background-color: dimgray">
        <p class="has-text-white">Thank you for installing the <code>discord-dashboard</code> repository by <a href="https://dev.ntmcentral.xyz/">NTM Development</a>!<br><br>Do need any assistance, or have found any problems? Please join the <a href="https://discord.com/invite/G2rb53z">NTM Discord Server</a> or if you like this dashboard, <a href="https://github.com/NTMNathan/discord-dashboard">star it</a> on GitHub!</p>
    <% } %>
</div>